.removeButton{
  color: white;
  background-color: var(--ion-color-danger, #f04141);
  --box-shadow:none;
}

.outlineBox{
  outline-style: solid;
  outline-color: #f04141;
}

@media (max-width: 768px) {
  .hide-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-lg {
    display: none;
  }
}



