<ion-list *ngIf="errorMessage.length > 1">
  <ion-row *ngFor=" let error of errorMessage; let i = index">
    <ion-col no-padding sizeXs="12" sizeLg="6" pushLg="3">
      <ion-item color="danger" *ngIf="i >= 1">
        <ion-button (click)="removeError(error)" color="danger" [ngStyle]="{'font-size': fontSize + 'px'}" class="removeButton">
          X
        </ion-button>
        <ion-label no-margin [ngStyle]="{'font-size': fontSize + 'px'}">
          {{ error }}
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-list>

