<ion-header>
    <ion-toolbar>
        <ion-title [ngStyle]="{'font-size': fontSize + 'px'}">
            Translate
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'font-size': fontSize + 'px'}">

    <ion-item>
        <ion-label>Language</ion-label>
        <ion-select placeholder="..." okText="Select" cancelText="Cancel" id="selectLanguage"
                    (ionChange)="onChange($event)">
            <ion-select-option *ngFor="let lang of languages" [value]="lang">{{lang}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-grid>
        <ion-row class="row-small">
            <ion-col>
                <ion-button (click)="getStorage()">lol</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="row-small">
            <ion-col>
            </ion-col>
        </ion-row>
        <ion-row class="row-small">
            <ion-col>
                <ion-label>Translation:</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="row-big">
            <ion-col>
                <ion-textarea disabled>{{ displayText }}</ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row class="row-small">
            <ion-col>
                <ion-label position="floating">Text to translate:</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-textarea placeholder="Enter text to translate" [(ngModel)]="textToTranslate">
                    <img [src]="selectedImage" *ngIf="selectedImage" alt="">
                </ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row class="row-small">
            <ion-col>
                <ion-button (click)="speechOn()">
                    <ion-icon name="mic"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="cameraOn()">
                    <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="clickTranslate()">Translate</ion-button>
            </ion-col>
            <ion-col>
               <ion-button (click)="recognizeImage()" [disabled]="!selectedImage">Get Text from image</ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
