<ion-header>
    <ion-toolbar>
        <ion-title [ngStyle]="{'font-size': fontSize + 'px'}">
            Translate
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'font-size': fontSize + 'px'}">
    <ion-grid>
        <ion-row class="row-small">
            <ion-col>
                <ion-item>
                    <ion-label [ngStyle]="{'font-size': fontSize + 'px'}">Language</ion-label>
                    <ion-select placeholder="..." okText="Select" cancelText="Cancel" id="selectLanguage" (ionChange)="onChange($event)">
                        <ion-select-option *ngFor="let lang of languages" [value]="lang">{{lang}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <br>
        <ion-row class="row-small">
            <ion-col>
                <ion-label>Translation:</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="row-big">
            <ion-col sizeXs="11">
                <ion-textarea disabled (input)="adjustTextarea($event)">{{ displayText }}</ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row class="row-small">
            <ion-col sizeXs="12">
                <ion-label position="floating">Text to translate:</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col sizeXs="11">
                <ion-textarea no-padding="" placeholder="Enter text to translate" (input)="adjustTextarea($event)" [(ngModel)]="textToTranslate">
                    <img [src]="selectedImage" *ngIf="selectedImage" alt="">
                </ion-textarea>
            </ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col sizeXs="2" sizeMd="1" sizeLg="2" pushXs="1" pushMd="3" pushLg="2">
                <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="speechOn()">
                    <ion-icon name="mic"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col sizeXs="5" sizeMd="4" sizeLg="3" pushXs="1" pushMd="3" pushLg="2">
                <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="clickTranslate()">Translate</ion-button>
            </ion-col>
        </ion-row>
        <ion-list *ngIf="errorMessage.length > 1">
            <ion-row *ngFor=" let error of errorMessage; let i = index ">
                <ion-col>
                    <ion-item color="danger" *ngIf="i >= 1">
                        <ion-label [ngStyle]="{'font-size': fontSize + 'px'}">
                            {{ error }}
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-grid>
</ion-content>
