ion-title {
  font-size: 1.5em;
}

ion-item {
  height: 100%
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  ion-grid {
    padding:5%;
    height: 100%;
    width: 100%;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
  ion-grid {
    padding: 5% 10% 5% 10%;
    height: 100%;
    width: 75%;
  }
}

.removeButton{
  color: white;
  background-color: var(--ion-color-danger, #f04141);
  --box-shadow:none;
}
