<ion-header>
  <ion-toolbar>
    <ion-title [ngStyle]="{'font-size': fontSize + 'px'}">
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-row>
        <ion-col sizeXs="12" sizeLg="6" pushLg="3">
          <ion-item>
            <ion-label [ngStyle]="{'font-size': fontSize + 'px'}">Font size:</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeLg="6" pushLg="3">
          <ion-item>
            <ion-button (click)="changeFontSize(fontSize - 1)">
              <ion-icon [ngStyle]="{'font-size': fontSize/2 + 'px'}" name="remove"></ion-icon>
            </ion-button>
            <ion-button (click)="changeFontSize(fontSize + 1)">
              <ion-icon [ngStyle]="{'font-size': fontSize/2 + 'px'}" name="add"></ion-icon>
            </ion-button>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeFontSize(16)">Small</ion-button>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeFontSize(24)">Medium</ion-button>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeFontSize(30)">Large</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeLg="6" pushLg="3">
          <ion-item [ngStyle]="{'font-size': fontSize + 'px'}">
            <ion-label>Theme:</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeLg="6" pushLg="3">
          <ion-item [ngStyle]="{'font-size': fontSize + 'px'}">
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeTheme('night')">Night</ion-button>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeTheme('day')">Day</ion-button>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeTheme('neutral')">Neutral</ion-button>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeTheme('fun')">Fun</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list *ngIf="errorMessage.length > 1">
      <ion-row *ngFor=" let error of errorMessage; let i = index ">
        <ion-col no-padding sizeXs="12" sizeLg="6" pushLg="3">
          <ion-item color="danger" *ngIf="i >= 1">
            <ion-label [ngStyle]="{'font-size': fontSize + 'px'}">
              {{ error }}
              <ion-button (click)="removeError(error)" color="danger" [ngStyle]="{'font-size': fontSize + 'px'}" class="removeButton">
                -
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>
