<ion-header>
  <ion-toolbar>
    <ion-title [ngStyle]="{'font-size': fontSize + 'px'}">
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-row>
        <ion-col sizeXs="12" sizeLg="6" pushLg="3">
          <ion-item>
            <ion-label [ngStyle]="{'font-size': fontSize + 'px'}">Font size</ion-label>
            <ion-button (click)="changeFontSize(fontSize - 1)">
              <ion-icon [ngStyle]="{'font-size': fontSize/2 + 'px'}" name="remove"></ion-icon>
            </ion-button>
            <ion-button (click)="changeFontSize(fontSize + 1)">
              <ion-icon [ngStyle]="{'font-size': fontSize/2 + 'px'}" name="add"></ion-icon>
            </ion-button>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeFontSize(16)">Small</ion-button>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeFontSize(24)">Medium</ion-button>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeFontSize(30)">Large</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeLg="6" pushLg="3">
          <ion-item [ngStyle]="{'font-size': fontSize + 'px'}">
            <ion-label>Theme</ion-label>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeTheme('night')">Night</ion-button>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeTheme('day')">Day</ion-button>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeTheme('neutral')">Neutral</ion-button>
            <ion-button [ngStyle]="{'font-size': fontSize/2 + 'px'}" (click)="changeTheme('fun')">Fun</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-row>
      <ion-col sizeXs="12" sizeLg="6" pushLg="3">
        <ion-textarea class="errorMessage">{{ errorMessage }}</ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
