ion-title {
  font-size: 1.5em;
}

ion-item {
  height: 100%
}

.errorMessage{
  color:red;
}

@media screen and (min-width: 992px) {
  font-size: 24px;
}

@media screen and (min-width: 1800px) {
  font-size: 30px;
}
