@media screen and (max-width: 992px) {
  ion-grid {
    padding:5%;
    height: 100%;
    width: 100%;

    ion-col {
      padding: 0 !important;
      margin-left: 5% !important;
      margin-right: 5% !important;
      height: 100%;
    }
  }
}

@media screen and (min-width: 992px) {
  ion-grid {
    padding: 5% 10% 5% 10%;
    height: 100%;
    width: 100%;
    ion-col {
      padding: 0 !important;
      margin-left: 5% !important;
      margin-right: 5% !important;
      height: 100%;
    }
  }
  font-size: 24px;
}

ion-button {
  width: 100%;
}

ion-label {
 color:black;
}

.row-small{
  height: 10%;
}
.row-big{
  height: 15%;
}

